/* 6.15 Tooltips
----------------------------------------------------------*/

.tooltip {
    font-family: $font-secondary;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;

    &.in {
        @include opacity(1);
    }

    .tooltip-inner {
        background-color: rgba(#000,0.8);
        color: #fff;
        padding: 0.25rem 0.5rem;
        @include box-shadow(0px 0px 10px 0 rgba(#000,0.2));
    }
}

.tooltip.bs-tether-element-attached-left .tooltip-inner::before, .tooltip.tooltip-right .tooltip-inner::before {
    border-right-color: rgba(#000,0.8);
}

.tooltip.bs-tether-element-attached-right .tooltip-inner::before, .tooltip.tooltip-left .tooltip-inner::before {
    border-left-color: rgba(#000,0.8);
}

.tooltip.bs-tether-element-attached-bottom .tooltip-inner::before, .tooltip.tooltip-top .tooltip-inner::before {
    border-top-color: rgba(#000,0.8);
}

.tooltip.bs-tether-element-attached-top .tooltip-inner::before, .tooltip.tooltip-bottom .tooltip-inner::before {
    border-bottom-color: rgba(#000,0.8);
}

*[data-toggle="tooltip"] {
    cursor: pointer;
}