/* 6.16 Typography 
----------------------------------------------------------*/

/* Headings */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 0;
	margin-bottom: 1.5rem;
	font-weight: 600;
	font-family: $font-secondary;
	line-height: 1.5;
} 

h1, .h1 {
	font-size: 2.75rem;
}

h2, .h2 {
	font-size: 2.25rem;
}

h3, .h3 {
}

h4, .h4 {
	font-weight: 500;
}

h5, .h5 {
	font-weight: 500;
	font-size: 1.1rem;
}
 
h6, .h6 {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 0.85rem;
}

/* Display */

.display-1, .display-2, .display-3, .display-4 {
	font-weight: 500;
}

/* Paragraph */

p {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 2rem;
}

p.lead {
	font-size: 1.2rem;
	font-weight: 300;
}

/* Description */

dl {
	dt {
		color: $color-muted;
		font-weight: 400;
	}
	dd {
		font-weight: 600;
	}
}

/* Blockquote */

.blockquote {
	position: relative;
	background-color: $color-light;
	border: none;
	padding: 0;
	@include border-radius(0.3rem);
	margin-bottom: 2rem;
	padding: 2rem;
	text-align: center;
	overflow: hidden;

	p {
		font-size: 1.25rem;
		font-weight: 300;
		margin-bottom: 1rem;
	}

	footer {
		font-size: 0.9rem;
		color: $color-muted;
		font-weight: 500;

		&:before {
			display: none;
		}

		img {
			width: 32px;
			@include border-radius(50%);
			margin-right: 0.5rem;
		}

		.name {
			white-space: nowrap;
		}
	}
}

/* Sizes */

.text-lg { 
	font-size: 1.35rem; 

	@media #{$screen-xs} {
		font-size: 1.2rem;
	}
}

.text-md { font-size: 1.1rem; }
.text-sm { font-size: 0.95rem; }
.text-xs { font-size: 0.85rem; }

/* Colors */

$k: 1;
@for $i from 1 through length($colorVersions)/2 {
	$type: nth($colorVersions,$k);
	$color: nth($colorVersions,$k+1);

	.text-#{$type} {
		color: $color !important;
	}
	$k: $k+2;
}

.text-dark { color: $color-global !important; }
.text-muted { color: $color-muted !important; }
.dark .text-muted { color: $color-muted-light !important;  }

$k: 1;
@for $i from 1 through length($colorVersions)/2 {
	$type: nth($colorVersions,$k);
	$color: nth($colorVersions,$k+1);

	a.text-#{$type} {
		&:hover, &:focus {
			color: shade($color,20%) !important;
		}
	}
	$k: $k+2;
}

// List Check
.list-check {
	list-style: none;
	padding: 0;
	margin: 0 0 2rem 0;

	> li {
		position: relative;
		padding-left: 1.5em;

		&:not(:last-child) {
			padding-bottom: 0.25em;
			margin-bottom: 0.25em;
		}

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			font-family: 'Themify';
			content: '\e64c';
			color: $color-green;
		}

		&.false:before {
			color: $color-medium;
			content: '\e646';
		}
	}
}

/* List Inline */
.list-inline-item:not(:last-child) {
	margin-right: 1.5em;
}



